.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
.DS_Store
Thumbs.db
tests
.github
docker-compose.yml
docker-compose.*.yml
